@import (inline) '../lib/css-slider/slider-def.css';
@import (inline) '../lib/css-slider/slider-simp.css';
@import './mixings-fonts.less';

.row {
  margin-left: 0;
  margin-right: 0;
}

body{
  margin-top:20px;
  ._font_paragraph();

  &.container-fluid {
    padding: 0;
  }

  h1,h2,h3,h4,h5 {
    ._font_title(); 
  }

  h1 {
    text-align: center;
  }

  header {
    @import './header.less';
  }

  main {
    @import './main.less';
  }

  section {
    &#hero {
      margin-left: 0;
      margin-right: 0;
    }
    
    &#values {
      h2 {
        text-align: center;
      }
      .value {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        svg {
          order: 1;
          fill: #33322C;
        }
        h2 {
          order:2;
        }  
        p {
          order: 3;
        }
        &{
        
          @media screen and (orientation:landscape) {
            display:grid;
            grid-gap: 10px;
            grid-template-columns: 9fr 3fr;
            grid-auto-flow: dense;
            svg {
              grid-column-start: 2;
              grid-row-start: span 2;
             // max-height: 100px;
            }
            h2 {
              text-align: left;
            }

            &:nth-child(2n+1) {
              grid-template-columns: 3fr 9fr;
              svg {
                grid-column-start: 1;
              }
            }
          }
        
        }
      }
    }

    &#medios {
      margin-bottom: 60px;
      background-color: #ececec;
      padding-bottom: 60px;

      &>.row {
        margin-left: 0;
        margin-right: 0;
      }
      
      a {
        color: black;
        display:inline-block;
        border-radius: 4px;
        padding: 20px 0;
        box-shadow: inset 0;
        transition: box-shadow 0.3s ease-in;
        transition: background-color ease-out 300ms;
        &:hover {
          background-color: #fff;
          text-decoration: none;
          box-shadow: inset 2px 3px 9px -8px rgba(0,0,0,1);
          transition: background-color ease-in 300ms;
          .imgwrapper {
            box-shadow: 4px 6px 21px -13px rgba(0,0,0,1);
          }
        }
        .imgwrapper {
          border-radius: 50%;
          display:inline-block;
          overflow: hidden;
          padding:20px;
          background-color: #ececec;
          transition: box-shadow 0.3s ease-in;

          svg {
            max-width:100px;
            max-height:100px;
          }
        }
        h3 {
          margin-top: 10px;
        }
        p {
          padding: 0 40px;
        }
      }
    }

    &#social {
      margin-top:40px;
      margin-bottom: 120px;
      
        .social-logos {
          margin-top:20px;
          margin-bottom:40px;
  
          .social-logo {
            display:inline-block;
            margin:0;
            transition: filter 0.3s ease-in;
            &:hover, &:active {
              filter: brightness(140%);
              filter: drop-shadow(2px 2px 2px silver);
              transition: filter 0.3s ease-in;
            }
            svg {
              margin:0 2px;
              max-width: 40px;
              max-height: 40px;
            }
          }
        }
    }

    &#sponsors {
      margin-top: 80px;
      padding-bottom: 80px;
      
      h2 {
        text-align: center;
      }
      .card {
        padding: 6px;
        color: #333;
        text-decoration: none;
        border: 1px white solid;
        
        box-shadow: 0px 0px 4px 0px rgba(0,0,0,.5);
      } 

    }
  }



  footer {
      
      padding-top: 30px;
      width: 100%;

      background-color: #1d1c16;
      color: rgb(227, 227, 227);
      .licences {
        font-size: 10px;
        svg {
          max-width: 100px;
          max-height: 50px;
        }
      }
  }
}
