
nav {
  margin-right:50px;

  @media(min-width:360px){
    margin-right:80px;
  }
  @media(min-width:450px){
    margin-right:120px;
  }
  
  @media(min-width:550px){
    margin-right:180px;
  }
  @media(min-width:768px){
    margin-right:0px;
  }
  .nav-link {
    color:black;
  }
}

.logo {
  text-align: center;
  svg {
    width: 100%;
    height: 60px;
  }
}