@import './mixings-fonts.less';

section {
  margin-top:20px;
  .row {
    margin-top:40px;
  }
}

#claim {
  p {
    text-align: center;
    font-style: italic;
  }
}

#slider {
  height: 210px;

  // iphone 6 plus (3x)
  @media (max-width:414px) and (min-resolution: 288dpi){
    height: 160px;
  }
  // iphpne 6 plus landscape
  @media (min-width:736px) and (min-resolution: 288dpi){
    height: 150px;
  }

  @media(min-width:768px){
    height: 250px;
  }    
  @media(min-width:980px){
    height: 400px;
  }    
    
  @media(min-width:1920px){
    height: 500px;
  }   

  picture, img {
    width:100%;
    margin-top:-60px;

    @media (min-resolution: 192dpi){
      margin-top:-100px;
    }

    // iphone 6 plus
    @media (max-width:414px) and (min-resolution: 288dpi){
      margin-top:-60px;
    }

    // iphpne 6 plus landscape
    @media (min-width:736px) and (min-resolution: 288dpi){
      margin-top:-80px;
    }

    @media(min-width:768px){
      margin-top:-100px;
    }
    
    @media(min-width:980px){
      margin-top:-50px;
    }
    @media(min-width:1920px){
      margin-top:-300px;
    }
  }
}

#tagline {
  // basic visual styles
  font-size: 1em;
  ._font_title();
  font-weight:100;

  
  // iphone 6 plus
  @media (max-width:414px) and (min-resolution: 288dpi){
    font-size: 1em;
  }
  // iphpne 6 plus landscape
  @media (min-width:736px) and (min-resolution: 288dpi){
    font-size: 1.25em;
  }

  @media(min-width:768px){
    font-size: 2em;
  }
  @media(min-width:900px){
    font-size: 3em;
  }
  @media(min-width:1280px){
    font-size: 4em;
  }
  @media(min-width:1920px){
    font-size: 5em;
  }
  color:white;
  background: rgba(0, 0, 0, 0.4);

  
  // fix for the container's padding
  left:5%;
  right:5%;

  // iphone 6 plus
  @media (min-width:414px) and (min-resolution: 288dpi){
    left:3.6%;
    right:3.6%;
  }
  // iphpne 6 plus landscape
  @media (min-width:736px) and (min-resolution: 288dpi){
    left:2.5%;
    right:2.5%;
  }

  @media(min-width:667px) {
    left:2.5%;
    right:2.5%;
  }

  @media(min-width:900px){
    left:2%;
    right:2%;
  }
  @media(min-width:1280px){
    left:1.5%;
    right:1.5%;
  }
  @media(min-width:1920px){
    left:1%;
    right:1%;
  }
  
  // this sets the text centered on top, over the images
  position:absolute;
  text-align: center;
  top:0px;
  
  //iphone 6 plus
  @media (max-width:414px) and (min-resolution: 288dpi){
    top:0px;
  }
  
  @media(min-width:667px){
    top:0px;
  }

  @media(min-width:900px){
    top:0px;
  }
  @media(min-width:1280px){
    top:0px;
  }
  @media(min-width:1920px){
    top:200px;
  }
  z-index: 2;
  
}